public/comics/*
!public/comics/.gitkeep
node_modules/
temp.js
public/assets/thumbnails/*
/public/assets/temporary/*
!public/assets/thumbnails/.gitkeep
!public/assets/temporary/.gitkeep
!public/assets/temporary/.gitkeep
