<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Test</title>
    <script>
        const prepare = () =>{
            const loadImages = (data) => {
                for (const item of data.results){
                    document.getElementById("main").innerHTML += `<img width="auto" height="800" src="comics/<%=data.message%>/${item}"><br>`;
                }
            }
    
            fetch("http://localhost:5000/api/comics/<%= data.message %>")
                .then((res) => {
                    return res.json();
                })
                .then((data) => {
                    loadImages(data)
                })
                .catch((err) => {
                    console.log(err);
                });
        }
    </script>
</head>
<body onload="prepare()">
    <div id="head">
        <h1>
            <%= data.message %>
        </h1>
    </div><br>
    <div id="main">
        
    </div>
</body>

</html>