<!DOCTYPE html>
<html>
<head>
	<title>Drafting Homepage</title>
	<link rel="stylesheet" type="text/css" href="css/mainPage.css">
	<script type="text/javascript">

	</script>
</head>
<body>
	<div id="mainContainer">
		<div id="topBar">
			Node Comic Reader
		</div>
		<div id="bookCase">

		</div>
	</div>
</body>
<script type="text/javascript" src="scripts/mainPage.js"></script>
</html>