<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Test</title>
    <script>
        var currentIndex = 0;
        var returnData = null;
        const changeImg = (change) => {
            visImage = document.getElementById("visableImage");
            if (visImage.src != null){
                let newIndex = currentIndex + change;
                if (typeof returnData.results[newIndex] != "undefined"){
                    console.log(returnData.results[newIndex]);
                    visImage.src = `comics/<%=data.message%>/${returnData.results[newIndex]}`;
                    currentIndex = newIndex;
                }
                
                
            }
        }

        const prepare = () =>{
            fetch("http://192.168.1.2:5000/api/comics/<%=data.message %>")
                .then((res) => {
                    return res.json();
                })
                .then((data) => {
                    returnData = data;
                    console.log(data);
                    document.getElementById("visableImage").src =`comics/<%=data.message%>/${data.results[currentIndex]}`;
                })
                .catch((err) => {
                    console.log(err);
                });
        }
    </script>
</head>
<body onload="prepare()">
    <div id="main">
        <div id=reader>
            <img id="visableImage" onclick="changeImg(1);">
        </div>
        <button onclick="changeImg(-1);"> Go Back</button>
    </div>
</body>

</html>