<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reader.css">
    <title>Reader</title>
</head>
<body onload="prepare()">
    <div id="mainContainer">
        <div id="readerContainer">
            <img id="mainPage" src="https://images-na.ssl-images-amazon.com/images/I/91SLpHwjp8L.jpg">
        </div>
    </div>
</body>
<script>
    var currentIndex = 0;
    var returnData;
    const changePage = change => {
        console.log(change);
        if (change == 1 && currentIndex < returnData.results.length - 1){
            document.getElementById("mainPage").src =`comics/<%=data.message%>/${returnData.results[++currentIndex]}`
        }else if (change == -1 && currentIndex > 0){
            document.getElementById("mainPage").src =`comics/<%=data.message%>/${returnData.results[--currentIndex]}`
        }
    }
    const prepare = () =>{
        fetch(`http://${window.location.hostname}:5000/api/comics/<%=data.message%>`)
            .then((res) => {
                return res.json();
            })
            .then((data) => {
                returnData = data;
                document.getElementById("mainPage").src =`comics/<%=data.message%>/${data.results[currentIndex]}`;
            })
            .catch((err) => {
                console.log(err);
            });
    }
    const checkMouseLocation = (event) => {
        const border = event.target.getBoundingClientRect();
        const elementWidth = border.right - border.left;
        const mouseX = event.pageX;
        if (mouseX >= border.left &&  mouseX <= border.right - elementWidth / 2){
            changePage(-1);
        }
        else{
            changePage(1)
        }
    }
    document.getElementById("mainPage").addEventListener("click", checkMouseLocation, true);
</script>
</html>